@import "tailwindcss";

:root {
  --color-50: #E7EFFE;
  --color-100: #BBD3FC;
  --color-200: #8FB6FA;
  --color-300: #639AF8;
  --color-400: #2773F5;
  --color-500: #0B61F4;
  --color-600: #094FC8;
  --color-700: #073E9C;
  --color-800: #052C70;
  --color-900: #031B44;
  --color-950: #010A18;

  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-50: var(--color-50);
  --color-primary-100: var(--color-100);
  --color-primary-200: var(--color-200);
  --color-primary-300: var(--color-300);
  --color-primary-400: var(--color-400);
  --color-primary-500: var(--color-500);
  --color-primary-600: var(--color-600);
  --color-primary-700: var(--color-700);
  --color-primary-800: var(--color-800);
  --color-primary-900: var(--color-900);
  --color-primary-950: var(--color-950);
  --font-sans: var(--font-manrope);
  --font-heading: var(--font-montserrat);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope), Arial, Helvetica, sans-serif;
}

h1 {
  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
}